<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epicodus.guest.fillur">

    <application
        android:allowBackup="true"
        android:icon="@drawable/stew"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity android:name=".ui.Search.SearchActivity" />
        <activity android:name=".ui.RecipeDetail.RecipeDetailActivity" />
        <activity android:name=".ui.SavedRecipe.SavedRecipeActivity" />
        <activity android:name=".ui.Login.CreateAccountActivity" />
        <activity android:name=".ui.Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.IngredientListActivity" />
        <activity android:name=".ui.RecipeListActivity"></activity>
    </application>

</manifest>